<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test</title>
</head>
<body>
  <div class="quizStar">
    <h1>Quiz Botnoi</h1>
    <h3>INPUT : </h3>
    <input #submit type="number" placeholder="กรอกจำนวน">
    <button class="btn-submit" (click)="precess(submit.value)" >Submit</button>

    <div *ngFor="let all of stars ; let i = index"> 
      {{all}}
    </div>
  </div>
  <div class="apiPokemon">
    <div class="center">
      <h1>API Pokemon</h1>
      <button class="btn-api" (click)="getData()" (click)="toggleCard()" >Get Pokemon Dex</button>
    </div>

    <div class="cardPoke" *ngIf="showCard">
      <div class="imPoke">
        <img src="{{fontPoke}}" alt="" style="background-color: white;">
        <img src="{{backPoke}}" alt="" style="background-color: white;">
      </div>
      <div class="name">
        <p style="font-weight: bold;">Name : </p>
        <p>{{pokeName}}</p>
      </div>
        <div *ngFor="let type of typesPoke" class="type">
          <p style="font-weight: bold;">Type {{type.slot}} : </p>
          <p>{{type.type.name}}</p>
        </div>
        <div class="status">
          <p style="font-weight: bold;">Base status :</p>
          <div *ngFor="let status of statusPoke" class="type">
            <p>{{status.stat.name}} = {{status.base_stat}}</p>
          </div>
        </div>               
    </div>
    </div>
</body>
</html>